.breadcrumb {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  
  .breadcrumb-item {
    &:before {
      color: $white;
    }

    a {
      color: $white;
      white-space: nowrap;

      &:focus, &:hover {
        text-decoration: underline;
      }
    }
  }
}