$primary: #7B61FF;
$primary500: #6227F5;

$secondary: #eff2f7;

$error: #FF0000;

$border-color: $secondary;
$border-color-accent: #E4E4F1;

$primary-100: #F1E6FF;
$primary-200: #E2CCFF;
$primary-300: #C599FF;
$primary-400: #9A4DFF;
$primary-500: #6E00FF;
$primary-600: #6300E6;
$primary-700: #5800CC;
$primary-800: #4D00B3;
$primary-900: #370080;

$white: #FFF;
$neutral-100: #FAFAFA;
$neutral-150: #CDD4DE;
$neutral-200: #E9EAEA;
$neutral-300: #D3D4D5;
$neutral-400: #BCBFC1;
$neutral-500: #7A7E82;
$neutral-600: #64696D;
$neutral-700: #4D5359;
$neutral-800: #373E44;
$neutral-900: #21282F;

$link-100: #D8E4FD;
$link-200: #BFD5FF;
$link-300: #89AFFA;
$link-400: #6295F8;
$link-500: #3B7AF6;
$link-600: #356EDD;
$link-700: #2955AC;
$link-800: #1E3D7B;
$link-900: #12254A;

$section-1: #007BFF;
$section-2: #17A2B8;
$section-3: #57A551;
$section-4: #F4C243;
$section-5: #6E00FF;
$section-6: #6E00FF;
$section-7: $neutral-900;

$btn-primary: $primary;
$btn-primary-hover: #5e00d9;
$btn-primary-active: #5800cc;
$btn-border-hover: $btn-primary-active;
$btn-border-active: #5300bf;
$btn-secondary-focus: #cdd6e6;
$btn-secondary-border-color: #c5cfe2;

$custom-box-shadow: inset 0 1px 0 transparentize($white, 0.85);

$section-colors: (
  section-1: $section-1,
  section-2: $section-2,
  section-3: $section-3,
  section-4: $section-4,
  section-5: $section-5,
  section-6: $section-6,
  section-7: $section-7
);

$grid-gutter-width: 1.5rem !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;
