.address-section {
  .inputs-row {
    display: flex;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    & > .input {
      margin-bottom: 0 !important;

      &:first-child {
        width: 75%;
        margin-right: 24px;
  
        @include media-breakpoint-down(lg) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 33px !important;
        }
      }
    }
  }
}