.input {
	line-height: 16px;

	input, textarea {
		padding-left: 16px;
		
		&:not(textarea) {
			height: 50px;
		}

		&:focus {
			border-color: transparentize($color: #6e00ff, $amount: 0.6);
			box-shadow: inset 0 1px 1px rgba(31,45,61,.075), 0 0 20px rgba(110,0,255,.1);
    }

    &:disabled {
      border-color: $gray-400;
      background: #f2f2f2;
      color: #999999;
    }

		&::placeholder {
			color: $neutral-200;
		}
	}

	textarea {
		padding-top: 15px;
		min-height: 80px;
		resize: none;
	}
}